@font-face {
  font-family: segoeUI;
  src: url(../../assets/fonts/segoeui.ttf);
}
@font-face {
  font-family: segoUIBold;
  src: url(../../assets/fonts/segoeuib.ttf);
}
@font-face {
  font-family: segoeuil;
  src: url(../../assets/fonts/segoeuil.ttf);
}
